.container {
  padding: 16px 18px;
  margin: 16px auto;
  width: 75%;
  text-align: center;
}

.adminWrap {
  max-width: 375px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.adminInfo {
  align-items: center;
}

.name {
  font-weight: 800;
}
