.container {
  padding: 16px 18px;
  margin: 16px auto;
  width: 75%;
  text-align: center;
}

.adminWrap {
  max-width: 375px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.adminInfo {
  align-items: center;
}

.name {
  font-weight: 800;
}

.btn {
  margin-top: 7px;
}

.btn button {
  height: 38px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 240px;
}
