.container {
  padding: 16px 18px;
  margin: 16px auto;
  width: 75%;
  text-align: center;
}

.adminWrap {
  max-width: 375px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.adminInfo {
  align-items: center;
}

.profile {
  margin-bottom: 16px;
  position: relative;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.editInput {
  width: 120px;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  font-size: 14px;
}

.name {
  font-weight: 800;
}

.btn {
  margin-top: 16px;
}

.btn button {
  height: 38px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 240px;
}

.deleteImg {
  position: absolute;
  right: 120px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btnContainer button {
  width: 50px;
  margin-right: 8px;
}

